
      /*#head{
        color: red;
        font-style: italic;
       }
       .p1{
        color: red;
        font-style: italic;
          }
    span{
        color: blue;
        font-style: inherit;
    } */
    
